* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.time {
    display: flex;
}

.u-list {
    list-style-type: none;
}

.list-item {
    color: yellow;
    font-size: 1.2em;
    height: fit-content;
    width: 50%;
    background-color: blue;
    border: 2px black solid;
    margin: 1.0em;
}

.list-item:hover {
    box-shadow: 0 0 10px yellow;
}

.start-container {
    display: block;
}

.intro-start {
    display: block;
}

.time {
    display: flex;
    justify-content: right;
    margin-right: 1.0em;
}

.high-score,
.high-score1 {
    display: none;
    color: blue;
    font-size: .8em;
}

.final-section h2 {
    margin-bottom: 10px;
}

.hs-btn {
    margin-top: 10px;
}

.hs-btn,
.hs-btn1 {
    width: 100px;
    height: 30px;
    color: blue;
    font-size: .8em;
}

.hs-input {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.final,
.final2,
.hs {
    height: 30px;
    width: 60px;
    background-color: bisque;
    color: blue;
    position: relative;
    left: 60px;
}

.hide {
    display: none;
}

.visible {
    display: block;
}

/*
/* 
var taskButtonHandler = function (event) {
    targetEl = event.target;

    if (targetEl.matches(".edit-btn")) {
        console.log("edit", targetEl);
        var taskId = targetEl.getAttribute("data-task-id");
        editTask(taskId);

    }
    else if (targetEl.matches(".delete-btn")) {
        console.log("delete", targetEl);
        var taskId = targetEl.getAttribute("data-task-id");
        deleteTask(taskId);
    }
}; */